.header {
  color: #fff;
  background: #000;
  padding: 1em;
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  z-index: 1000;
  h1 {
    font-size: 1.5em;
    span {
      padding-left: 0.5em;
    }
    @media only screen and (max-width: 786px) {
      & {
        padding-top: 0.5em;
        font-size: 1em;
      }
    }
  }
}

.container {
  margin-top: 60px;
}
